
/* header */

header {
    position: sticky;
    top: 0;
}
.headrec {
    vertical-align: middle;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    ;
    display: inline-block;
}
.head {
    padding-top: 25px;
    display: inline-block; 
    padding-right: 35px;
    font-size: 11px;
    line-height: 13px;
    font-family: 'Roboto', sans-serif;
}
.home {
    padding-left: 137px;
}
.ellipse {
    vertical-align: middle;
}